<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.row_and_wrap.s2_6_joylashuvlar_row_va_wrap">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
